[submodule "extern/musyx"]
	path = extern/musyx
	url = https://github.com/felc18-blip/musyx-nextos.git
	branch = nextos-partyboard
[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/felc18-blip/aurora-nextos.git
	branch = nextos-mali450-gles2
[submodule "extern/libco"]
	path = extern/libco
	url = https://github.com/higan-emu/libco.git
